biopython==1.79
GitPython==3.1.13
glove-python==0.1.0
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googledrivedownloader==0.4
joblib==0.17.0
matplotlib==3.3.0
numba==0.53.1
numpy==1.19.5
pandas==1.1.5
Pillow==7.2.0
scikit-learn==0.23.2
scipy==1.4.1
tape-proteins==0.5
tcr2vec==1.0.1
torch==1.9.0
tqdm==4.48.0
wandb==0.10.19
